.body_div{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.back{
    top: 1020px; ;
    position:absolute;
    z-index: 1;
    width: 100%;

}

.title_lay{
    margin-top: 5%;
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.t1{
    line-height: 1px;
    font-size: 40px;
    font-family: myfont2;

}

.t2 {
    font-size: 12px;
    font-family: myfont4;
    font-weight: lighter;
}

.menu{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.menu img{
    position: relative;
    width: 300px;
    height: 300px;
    z-index: 50;
}

.menu h1{
    font-size: 20px;
    font-family: myfont3;
    font-weight: lighter;
    text-transform: uppercase;
    

}

.menu p{
    font-size: 12px;
    font-family: myfont4;
    font-weight: lighter;

}

.list{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.text_div{
    width: 80%;
}

.cover{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2%;

}

.btn_div2{
    margin-top: 8%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 40px;
    width: 160px;
    background-color: rgb(255, 224, 1);
    cursor: pointer;
}

@media screen and (max-width: 1050px) {
    .body_div{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .back{
        top: 123% ;
        position:absolute;
        z-index: 1;
        width: 100%;
    
    }
    
    .title_lay{
        margin-top: 5%;
        display: flex;
        width: 70%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    
    }
    
    .t1{
        line-height: 1px;
        font-size: 40px;
        font-family: myfont2;
    
    }
    
    .t2 {
        font-size: 12px;
        font-family: myfont4;
        font-weight: lighter;
    }
    
    .menu{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    
    }
    
    .menu img{
        position: relative;
        width: 250px;
        height: 250px;
        z-index: 50;
    }
    
    .menu h1{
        font-size: 20px;
        font-family: myfont3;
        font-weight: lighter;
        text-transform: uppercase;
        
    
    }
    
    .menu p{
        font-size: 12px;
        font-family: myfont4;
        font-weight: lighter;
    
    }
    
    .list{
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    
    
    }
    
    .text_div{
        width: 80%;
    }
    
    .cover{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2%;
    
    }
    
    .btn_div2{
        margin-top: 8%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 40px;
        width: 160px;
        background-color: rgb(255, 224, 1);
        cursor: pointer;
    }

}


@media screen and (max-width: 850px) {
    .body_div{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .back{
        top: 98% ;
        position:absolute;
        z-index: 1;
        width: 100%;
    
    }
    
    .title_lay{
        margin-top: 5%;
        display: flex;
        width: 70%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    
    }
    
    .t1{
        line-height: 1px;
        font-size: 35px;
        font-family: myfont2;
    
    }
    
    .t2 {
        font-size: 10px;
        font-family: myfont4;
        font-weight: lighter;
    }
    
    .menu{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    
    }
    
    .menu img{
        position: relative;
        width: 200px;
        height: 200px;
        z-index: 50;
    }
    
    .menu h1{
        font-size: 15px;
        font-family: myfont3;
        font-weight: lighter;
        text-transform: uppercase;
        
    
    }
    
    .menu p{
        font-size: 9px;
        font-family: myfont4;
        font-weight: lighter;
    
    }
    
    .list{
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    
    
    }
    
    .text_div{
        width: 80%;
    }
    
    .cover{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2%;
    
    }
    
    .btn_div2{
        margin-top: 8%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 30px;
        width: 120px;
        background-color: rgb(255, 224, 1);
        cursor: pointer;
    }

}

@media screen and (max-width: 650px) {
    .body_div{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .back{
        top: 70% ;
        position:absolute;
        z-index: 1;
        width: 100%;
    
    }
    
    .title_lay{
        margin-top: 5%;
        display: flex;
        width: 70%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    
    }
    
    .t1{
        line-height: 1px;
        font-size: 25px;
        font-family: myfont2;
    
    }
    
    .t2 {
        font-size: 8px;
        font-family: myfont4;
        font-weight: lighter;
    }
    
    .menu{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    
    }
    
    .menu img{
        position: relative;
        width: 150px;
        height: 150px;
        z-index: 50;
    }
    
    .menu h1{
        font-size: 10px;
        font-family: myfont3;
        font-weight: lighter;
        text-transform: uppercase;
        
    
    }
    
    .menu p{
        font-size: 6px;
        font-family: myfont4;
        font-weight: lighter;
    
    }
    
    .list{
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    
    
    }
    
    .text_div{
        width: 80%;
    }
    
    .cover{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2%;
    
    }
    
    .btn_div2{
        margin-top: 8%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 20px;
        width: 80px;
        background-color: rgb(255, 224, 1);
        cursor: pointer;
    }

}

@media screen and (max-width: 450px) {
    .body_div{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .back{
        top: 70% ;
        position:absolute;
        z-index: 1;
        width: 100%;
        display: none;
    
    }
    
    .title_lay{
        margin-top: 5%;
        display: flex;
        width: 70%;
        word-wrap: break-word;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    
    }
    
    .t1{
        line-height: 1px;
        font-size: 20px;
        font-family: myfont2;
        width: 100%;
        word-wrap: normal;
    
    }
    
    .t2 {
        font-size: 8px;
        font-family: myfont4;
        font-weight: lighter;
        
    }
    
    .menu{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    
    }
    
    .menu img{
        position: relative;
        width: 200px;
        height: 200px;
        z-index: 50;
    }
    
    .menu h1{
        font-size: 15px;
        font-family: myfont3;
        font-weight: lighter;
        text-transform: uppercase;
        
    
    }
    
    .menu p{
        font-size: 10px;
        font-family: myfont4;
        font-weight: lighter;
    
    }
    
    .list{
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    
    
    }
    
    .text_div{
        width: 80%;
    }
    
    .cover{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2%;
    
    }
    
    .btn_div2{
        margin-top: 8%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 40px;
        width: 160px;
        background-color: rgb(255, 224, 1);
        cursor: pointer;
    }

}







  