body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: myfont;
  src: url(./Fonts/Gabelisa.ttf);
}
@font-face {
  font-family: myfont2;
  src: url(./Fonts/Fred.ttf);
}@font-face {
  font-family: myfont3;
  src: url(./Fonts/Mon_Bold.ttf);
}
@font-face {
  font-family: myfont4;
  src: url(./Fonts/MonRegular.ttf);
}


